<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="WebToApp Alex Studios" Language="1033" Version="1.0.0.0" Manufacturer="Alex Studios" UpgradeCode="12345678-1234-1234-1234-123456789012">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x86" />

        <MajorUpgrade DowngradeErrorMessage="Eine neuere Version ist bereits installiert." />
        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="WebToAppApp" />
            </Directory>
        </Directory>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable" Guid="*">
                <File Id="WebToAppExe" Source="..\bin\x86\Release\net6.0-windows\WebToApp.exe" KeyPath="yes" />
            </Component>
        </ComponentGroup>

        <Feature Id="ProductFeature" Title="WebToApp" Level="1">
            <ComponentGroupRef Id="ProductComponents" />
        </Feature>
    </Product>
</Wix>
